@model SecuryptMVC.Models.PermittedUsersViewModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<h1>Users permitted to see this file:</h1>

<div>
    @foreach (var element in Model.PermittedUserIDs)
    {
        <p>@Html.DisplayFor(m => element)</p>
    }
</div>

<div>
    @Html.ActionLink("Add Permission", "AddPermission", new { id = Model.ItemID }) |
</div>
