<li>
    <a href="@Url.Action("ChangeCulture", "Language", new { lang = "en" })">Eng</a>
</li>
<li>
    <a href="@Url.Action("ChangeCulture", "Language", new { lang = "de" })">Ger</a>
</li>
<li>
    <a href="@Url.Action("ChangeCulture", "Language", new { lang = "sv" })">Swe</a>
</li>
<li>
    <a href="@Url.Action("ChangeCulture", "Language", new { lang = "no" })">Nok</a>
</li>