<li>
    @Html.ActionLink("English", "ChangeCulture", "Home",
    new { lang = "en", returnUrl = this.Request.RawUrl }, null)
</li>
<li>
@Html.ActionLink("German", "ChangeCulture", "Home",
    new { lang = "de", returnUrl = this.Request.RawUrl }, null)
</li>