@using Securypt.Resources;
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    @MyStrings.Contact
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:admin@securypt.com">Support@example.com</a><br />
</address>